body {
  font-family: "Lato", sans-serif;
  position: absolute;
  width: 1500px;
  height: 100%;
}

.sidenav label a{
  width: 126px;
  height: 109px;
  margin-bottom: 50px;
}

.sidenav button{
  margin-top: 100%;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: absolute;
  left: 38px;
  top: 268px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #DEFFD9;
  overflow-x: hidden;
  padding-top: 10px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  width: 126px;
  height: 39px;
  margin-top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #979797;
  display: block;
}

.main {
  margin-left: 240px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.text-footer{
  position: absolute;
  margin-left: 50%;
  margin-top: 42%;
  color:#BEBEBE;
}

.main .box1 {
  width:1150px;
  height:400px;
  background: #D9FFF0;
  border-radius: 10px;

  position: absolute;
  left: 300px;
  top: 100px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: -0.017em;

  color: #000000;
}

.main .box1 img{
  position: absolute;
  left: 700px;
}

.main .box2{
  width:150px;
  height:150px;
  background: #D9FFF0;
  border-radius: 10px;

  position: absolute;
  left: 400px;
  top: 520px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.017em;

  color: #000000;
}

.main .box3{
  width:150px;
  height:150px;
  background: #D9FFF0;
  border-radius: 10px;

  position: absolute;
  left: 600px;
  top: 520px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.017em;

  color: #000000;
}

.main .box4{
  width:150px;
  height:150px;
  background: #D9FFF0;
  border-radius: 10px;

  position: absolute;
  left: 800px;
  top: 520px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.017em;

  color: #000000;
}

.main .box5{
  width:150px;
  height:150px;
  background: #D9FFF0;
  border-radius: 10px;

  position: absolute;
  left: 1000px;
  top: 520px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.017em;

  color: #000000;
}

.main .box6{
  width:150px;
  height:150px;
  background: #D9FFF0;
  border-radius: 10px;

  position: absolute;
  left: 1200px;
  top: 520px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.017em;

  color: #000000;
}